# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Training outputs
wandb/
runs/
outputs/
*.ckpt
*.pth
wandb.lock

# Data
data/raw/
data/processed/

# Packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Notebooks
notebooks/**/*.ipynb_checkpoints
*.ipynb_checkpoints

# Test outputs
test_output/
.pytest_cache/

# Misc
*.log
.DS_Store

