# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
wandb/
runs/
wandb.lock

outputs/

# Packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Secrets
.env
.env.*
!.env.example

# Misc
*.log

